.ExpensesPageHeader {
    margin-bottom: 0.5rem;
    align-items: center;
}

.ExpensesMonthSelectionLabel {
    font-size: 1.25rem;
    text-align: center;
}

.ExpenseTablePagination p {
    margin-bottom: 0;
}
